<header class="header">
<nav id="nav">
  <div class="nav">
    <div class="nav__item nav__item--logo js-menu-logo">
      <a href="/">
        <img class="nav--horizontal-logo" src="/assets/objects/RailsConfHorizontalLogo-b1d4eae6e913b60de62c2754b203b11ca20276031dbf8f2305f181a93e7bcea6.svg" alt="Railsconfhorizontallogo" />
</a>      </div>
    <div class="nav__item nav__item nav__item--toggle">
      <button class="hamburger hamburger--squeeze nav__link--toggle js-menu-button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="nav__collapse nav__collapse--animate"></div>
    <div class="nav__collapse">
      <div class="nav__item nav__item--padded">
        <a class="nav__link" href="/program">Active Storage</a>
      </div>
      <div class="nav__item nav__item--padded">
        <a class="nav__link" href="/schedule">Redis Cache Store</a>
      </div>
      <div class="nav__item nav__item--padded">
        <a class="nav__link" href="/location">HTTP/2 Early Hints</a>
      </div>
      <div class="nav__item nav__item--padded">
        <a class="nav__link" href="/sponsors">Credentials</a>
      </div>
      <div class="nav__item nav__item--padded">
        <a class="nav__link" href="/policies">Content Security Policy</a>
      </div>
      <div class="nav__item nav__item--padded">
        <a class="nav__link" href="/about">Deprecations</a>
      </div>
      <div class="nav__item nav__item--padded">
        <a class="nav__link" href="/faq">FAQs</a>
      </div>
      <div class="nav__item nav__item nav__button-container">
        <div class="button button--nav">
          <a class="button--content" href="/register">Register</a>
        </div>
      </div>
    </div>
  </div>
</nav>
</header>
